#sidebar {
  position: fixed;
  left: 10px;
  top: 100px;
  background: #fff;
  min-width: 180px;

  ul {
    margin: 0 auto;
    padding: 0;
    border: 1px solid #dedede;

    li {
      height: 50px;
      color: #3691CE;
      font-size: 22px;
      line-height: 32px;
      font-weight: 500;
      list-style: none;
      border-bottom: 1px solid #dedede;

      &.active {
        background: #3691CE;
        color: #fff;
      }
    }
  }
}

#main-content {
  position: relative;
  left: 220px;
  width: 80%;
}
