{% extends 'layout/default.html' %}


{% block content %}

   <div class="login-page d-flex flex-column align-items-center justify-content-center w-100">

        {% if messages %}
        <ul class="page-messages">
            {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <form method="post" class="d-flex flex-column justify-content-center align-items-center">

            {% csrf_token %}

            <h4>用户登录</h4>

            {{ form.email_or_username.errors }}
            {{ form.password.errors }}

            <div class="field-list">

                <div class="input-wrapper d-flex flex-column justify-content-center">
                    <div class="input-hint">邮箱</div>
                    {{ form.email_or_username }}
                </div>

                <div class="input-wrapper d-flex flex-column justify-content-center">
                    <div class="input-hint">密码</div>
                    {{ form.password }}
                </div>

            </div>

            <p class="user-account">
                <a href="{% url 'account:restore_password' %}">忘记密码?</a>
            </p>

            <p class="user-account">
                <a href="{% url 'account:signup' %}">新用户注册?</a>
            </p>

            <button class="confirm btn btn-secondary btn-lg">
                <i class="fas fa-spinner fa-spin hide" aria-hidden="true"></i>
                <span class="text">
                    确定
                </span>
            </button>

        </form>
   </div>

{% endblock %}
