{% extends 'layout/default.html' %}


{% block content %}

    {% if validlink %}

        <form method="post" class="d-flex flex-column justify-content-center align-items-center">

            {% csrf_token %}

            <h4>重置密码</h4>

            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}

            <div class="field-list">

                <div class="input-wrapper d-flex flex-column justify-content-center">
                    <div class="input-hint">新密码</div>
                    {{ form.new_password1 }}
                </div>

                <div class="input-wrapper d-flex flex-column justify-content-center">
                    <div class="input-hint">确认新密码</div>
                    {{ form.new_password2 }}
                </div>
    
            </div>

            {% include "./shared/_submit_button.html" with btn_text="确认修改" %}

        </form>

    {% else %}

        <div class="d-flex justify-content-center align-items-center w-100 alert alert-danger">
            激活链接无效，请重新申请
        </div>

    {% endif %}

{% endblock %}
