@import "../vendor/bootstrap/bootstrap.min.css";
@import "../vendor/fontawesome-free-5.14.0-web/all.min.css";
@import "basic.scss";


header {
  a.logo {
    color: #fff;
    text-decoration: none;
  }

  .top {
    font-size: 14px;
    background: #545652;
    color: #fff;
    height: 50px;

    .logo {
      font-size: 22px;
      font-weight: $bold;
    }

    .menu {
      ul {
        margin: 0;
        padding: 0;
  
        a {
          color: #fff;
          font-size: 14px;
          font-weight: $bold;
        }
  
        li {
          list-style: none;
          display: inline;
          margin: 0 0 0 0;
        }
      }

      ul.left {
        margin: 0 0 0 25px;

        li {
          margin: 0 15px 0 0;
        }
      }

      ul.right {
        margin: 0;

        li {
          margin: 0 0 0 15px;
        }
      }
    }
  }
}

.center {
  margin: 50px 0 0 0;
  min-height: 450px;

  ul.page-messages {
    margin: 0 auto;
    padding: 0;

    li {
      list-style: none;
    }
  }

  form {
    margin: 0 auto;

    h4 {
      text-align: center;
      margin: 0 auto 30px auto;
    }

    a {
      font-size: 14px;
    }

    ul.errorlist {
      width: 100%;
      text-align: left;
      padding-left: 15px;
      margin: 0 0 10px 0;

      li {
        color: red;
      }
    }

    .field-list {
      width: 420px;
    }

    p.user-account {
      width: 100%;
    }

    button.confirm {
      width: 50%;
      margin: 10px auto 0 auto;
    }
  }


  .main {
    width: 100%;
    // box-shadow: 0 0 10px #999;
    // border-radius: 5px;

    & > ul.menu {
      font-size: 14px;
      font-weight: $medium;
      border: 1px solid #dedede;
      background: #faf9f9;
      border-radius: 5px;
      margin: 0 0 30px 0;
      padding: 10px 20px 10px 20px;

      li {
        list-style: none;
        display: inline;
        line-height: 32px;
        margin: 0 15px 0 0;

        a {
          color: #9c9c9c;

          &.active {
            color: #2c506d;
          }
        }
      }
    }
    

    .topics {
      margin: 20px 0 0 0;

      .topic-item {
        margin: 0 0 20px 0;
        border-bottom: 1px solid #dedede;

        &:last-child {
          border-bottom: none;
        }

        a.title {
          font-size: 14px;
        }

        p.intro {
          font-size: 14px;
          margin: 10px 0 20px 0;
        }
      }
    }
  }

}




footer {
  font-size: 14px;
  border-top: 1px solid #dedede;
  margin: 50px 0 50px 0;

  ul {
    margin: 20px 0 0 0;
    width: 100%;
    padding: 0;

    li {
      list-style: none;
      display: inline;

      a {
        margin: 0 10px 0 10px;
      }
    }
  }
}



@media (max-width: 567px) {
  .center {
    form {
      width: 90%;

      .field-list {
        width: 100%;
      }

      button.confirm {
        width: 100%;
      }
    }
  }
}
